:root {
  /* Colors */
  --main-color: (255, 235, 235, 1);
  /* Fonts */
  --ff-serif: serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;


  /* font-sizes */

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark)));
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 100rem;
}


.container--maincontent {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 7em;
}


.sidebar--children {
  padding-left: 1rem;
  font-size: small;
}

.sidebar--children > h2 {
  padding-top: 1rem;
}

.sidebar {
  width: 25%;
}

.sidebar > * {
  padding-top: 1rem;
}

.dashboard {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dashboard--title > * {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

.dashboard--content > * {
  display: flex;

  align-items: center;
}

.row {
  display: flex;
  margin: 0 20%;
}

.column {
  padding: auto;
  height: 30rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-main {
  background-color: hsl(var(--main-color));
}

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}